.firstname-wrapper, .lastname-wrapper, .email-wrapper, .password-wrapper, .login-btn-wrapper,
.confirm-password-wrapper, .signup-btn-wrapper, .code-wrapper, .confirmation-email-wrapper,
.code-btn-wrapper, .group-select-wrapper {
	display: grid;
	width: 40%;
	margin: auto;
	margin-top: 3rem;
}

.password-input, .email-input, .confirm-password-input, .code-input, .confirmation-email-input,
.lastname-input, .firstname-input, .user-group-select {
	border: 1px solid;
	border-radius: 0.5rem;
	height: 2rem;
}

.user-group-select {
	background: transparent;
	width: 100%;
}

.password-label, .email-label, .confirm-password-label, .confirmation-email-label, .code-label,
.firstname-label, .lastname-label, .group-label {
	font-size: larger;
	font-family: monospace;
	padding-bottom: 0.5rem;
}

.login-btn, .signup-btn, .submit-code-btn {
	border: 1px solid;
	border-radius: 0.5rem;
	height: 2.5rem;
	background: #047d95;
	color: white;
	font-size: 1rem;
	width: 70%;
	margin: auto;
}

.u-pad-bottom {
	padding-bottom: 1rem;
}

.account-confirmation {
	margin: auto;
    font-size: 16px;
    justify-content: center;
    display: flex;
}

.error-msg {
	color: red;
	margin: auto;
	width: 40%;
}
